* {
	font-family: Tahoma;
}

#wynik {
	display: block;
}

input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[name=wynik] {
	font-size: 24px;
	text-align: center;
	padding: 10px;
	color: #000000;
	outline: 2px solid #000000;
	border: 0;
}