body {
background-color: #5cd65c;
display: table;
width: 100%;

}
.strona {
	height: 900px;
	width: 100%;
}
.baner {
	background-color: #29a329;
	height: 15%;
	width: 100%;
	text-align: center;
}

.baner1 {
	background-color: #29a329;
	height: 5%;
	width: 100%;
}

.menu1 {
	background-color: green;
	height: 70%;
	width: 40%;
	float: left;

}
.menu2 {
	background-color: #5cd65c;
	height: 70%;
	width: 59%;
	float: right;
	margin-left: 1%;

}

.stopka {
	background-color: #29a329;
	height: 10%;
	width: 100%;
	clear: both;
	font-size: 24px;
}

img {
 text-align: center; 
 display: table;

}

.vertical-menu {
	float: both;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: inline-block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

h1 {
	color: white;
}
p, ul, tr{
	
	color: white;
}

