body {
	margin: 0;
}
.baner {
	background-color: rgb(66, 22, 42);
	color: #ffffff;
	font-size: 120%;
	text-align: center;
	height: 100px;
}

.baner h1 {
	margin: 0;
}

.panel_lewy {
	background-color: rgb(142, 115, 110);
	width: 40%;
	height: 600px;
	float: left;
	color: white;
}

.panel_prawy {
	background-color: rgb(230, 230, 230);
	width: 60%;
	height: 600px;
	float: right;
}

.stopka {
	background-color: rgb(142, 115, 110);
	color: #ffffff;
	font-size: 150%;
	text-align: right;
	
}
.panel {
width: 400px; 
margin: 0 auto; 
padding: 15px 0 0;
background: #fff;
border: 1px solid silver;
font: 16px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver; 
-moz-box-shadow: 0 0 2px silver; 
box-shadow: 0 0 2px silver;
}
form {
margin: 0;
}

a {
	color: blue;
}

a:visited {
	color: green;
}

u {
	color: blue;
}
table {
	width: 100%;
}