body {
	margin: 0;
	padding: 0;
}

.baner {
	background-color: rgb(215, 213, 162);
	text-align: center;
	padding: 7px;
}

.menu {
	width: 100%;
}

.menu div {
	display: inline;
	margin: 0;
	position: relative;
}

.menu div a {
	background-color: rgb(111, 112, 17);
	color: #ffffff;
	text-align: center;
	font-size: 180%;
	width: 25%;
	display: inline-block;
	margin: -2px;
	text-decoration: none;
}

ul li {
	list-style-type: disc;
}

.blok-glowny {
	height: 400px;
	padding: 30px 40px;
}

.stopka {
	background-color: rgb(111, 112, 17);
	color: #ffffff;
	text-align: right;
	font-size: 180%;
}

a {
	color: #ffffff;
}

h1 {
	margin-top: 0;
}

input[type=button] {
	background-color: brown;
	border: 2px solid brown;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	display: block;
	margin: 10px 0;
}